<h1>How It Works</h1>

<div class = "about">
<p>The last thing a woman should worry about while on her period is the cost of her tampons. After all, cotton ball are dirt cheap; shouldn't your hygiene products be affordable too?
<br><br>
At Big Red Dot, we allow you to buy your female hygiene products at a much lower cost while at your discretion. Forget those awkwardly embarrassing moments of carrying a box of tampons or bag of female diapers around a drugstore. You better hope you don't run into your new flame. So save yourself a trip and 85% of the cost. Get your feminine needs delivered to your door each month for your time of the month.
<br><br>
And no candy included. We won't sabotage your waistline or wallet.
<br><br>

Keep Calm. And Save Face and Money.</p>
</div>
