// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about {
  padding-left:100px;
  padding-right:100px;
  text-align: center;
  font-style: italic;
}


.join {
  padding-left:200px;
  padding-right:450px;
  padding-top: 40px;
  padding-bottom: 500px;

}

.field {

}
